:root {
    --press-scale: 0.985;
}

@media (prefers-reduced-motion: reduce) {
    :root {
        --duration-fast: 0ms;
        --duration-regular: 0ms;
        --duration-slow: 0ms;
        --duration-slower: 0ms;
        --duration-slowest: 0ms;
        --press-scale: 1;
    }
}

/*Buraya ekleme yapabilirim, luquid glass ile alakalı ekstra animasyonlar*/
